@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/WorkSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/WorkSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/WorkSans-Bold.ttf) format("truetype");
}
