.accordion {
  padding: 24px;
  background-color: var(--white);
  border-radius: 8px;

  & .title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 0 8px 0;
    font-size: 32px;
  }
}